* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #e4e3d3;
  color: #2e2d4d;
}

body.no-scroll {
  overflow: hidden;
  /* prevent sliding content right */
  padding-right: 15px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  color: #2e2d4d;
  background-image: linear-gradient(0deg, rgba(228, 227, 211, 1) 0%, rgba(228, 227, 211, 0.4) 100%),
    url("https://images.unsplash.com/photo-1457369804613-52c61a468e7d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  row-gap: 20px;
  padding: 0 20px;
  text-align: center;
}

.header h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0;
}

.header h3 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
}

.header .search-input {
  width: 100%;
  max-width: 500px;
  height: 50px;
  border-radius: 50px;
  border: none;
  padding: 0 20px;
  font-size: 18px;
  background-color: #fff;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 3;
}

.loader > .spinner {
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: masonry;
  gap: 20px;
  padding: 0 20px;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 10px;
  background-color: #fff;
  border-radius: 24px;
  cursor: pointer;
}

.card > .card-header {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.card:hover > .card-header > img {
  transform: scale(1.1);
}

.card > .card-header > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.card > .card-body {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.card > .card-body > .card-title {
  font-size: 32px;
  font-weight: 700;
}

.card > .card-body > .card-description {
  line-height: 24px;
}

.card > .card-footer {
  align-self: flex-end;
  margin-top: auto;
}

.modal .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 500;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.modal .modal-inner {
  position: fixed;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 600px;
  height: 600px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 9999;
  border-radius: 24px;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.modal.show .modal-overlay,
.modal.show .modal-inner {
  opacity: 1;
  pointer-events: auto;
}

.modal .modal-inner .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #e4e3d3;
}

.modal-header .modal-title {
  font-size: 24px;
  font-weight: 700;
}

.modal-header .modal-close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  border: none;
  border: 2px solid #2e2d4d;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.modal-header .modal-close:hover {
  background-color: #2e2d4d;
  color: #fff;
}

.modal .modal-inner .modal-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal-body .modal-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal-body .modal-loader .modal-spinner {
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
}

.modal-body .modal-comment-list {
  display: none;
  flex-direction: column;
  row-gap: 16px;
  background-color: #fff;
  height: 100%;
  overflow-y: auto;
}

/* Comments list scrollbar */
.modal-body .modal-comment-list::-webkit-scrollbar {
  width: 0;
}

.modal-body .modal-comment-list .modal-comment {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px;
  border: 1px solid #e4e3d3;
  border-radius: 12px;
}

.modal-body .modal-comment-list .modal-comment .modal-comment-header {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.modal-body .modal-comment-list .modal-comment .modal-comment-header .modal-comment-name {
  font-size: 18px;
  font-weight: 700;
}

.modal-body .modal-comment-list .modal-comment .modal-comment-header .modal-comment-email {
  font-size: 14px;
  font-weight: 400;
}

.btn {
  display: inline-block;
  padding: 12px 16px;
  border-radius: 9999px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: none;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.btn.btn-danger {
  color: white;
  background-color: rgba(227, 23, 10, 1);
}

.btn.btn-danger:hover {
  background-color: rgba(227, 23, 10, 0.8);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1024px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
  }
}
